html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-on-primary);
    margin: 0px;
    background-color: var(--color-background);
}

header {
    display: flex;
    flex-grow: 0.75;
    position: relative;
    background-color: var(--color-primary);
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0rem 0rem 1rem 0rem;
}

.title {
    margin: 0;
    vertical-align: middle;
}

.login-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

#login-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.field, .dropdown-list {
    color: var(--color-on-primary);
    background: none;
    width: 16rem;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    border: 2px solid var(--color-on-primary);
    border-radius: 0.5rem;
}

.field:focus, .dropdown-list:focus {
    background: none;
    color: var(--color-on-primary);
    padding: 0.5rem;
    outline: none;
    border: 2px solid var(--color-secondary);
}

.field::placeholder {
    color: var(--color-on-primary);
}

.button-text {
    margin: 0.25rem 0rem;
    padding: 0.5rem;
    width: 10rem;
    color: var(--color-on-primary);
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
}

.button-text:hover {
    padding: 0.5rem;
    color: var(--color-primary);
    background-color: var(--color-on-primary);
    cursor: pointer;
}

.button-icon {
    color: var(--color-on-primary);
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
}

.button-icon:hover {
    cursor: pointer;
}

.error-message {
    color: var(--color-error);
}

.top-bar {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    flex-direction: row;
    background-color: var(--color-primary);
    align-items: center;
}

.top-bar > * {
    height: 4rem;
    margin: 0.5rem 1rem;
}

.icons {
    height: 3rem;
    width: 3rem;
}

.menu, .menu-opened {
    z-index: 90;
    background-color: var(--color-secondary);
    position: fixed;
    width: 18rem;
    height: 100vh;
    top: 5rem;
}

.menu > li, .menu-opened > li {
    list-style-type: none;
}

.menu ul, .menu-opened ul {
    padding: 0;
    padding-left: 2rem;
}

.menu-opened ul:hover {
    cursor: pointer;
}

.menu a, .menu-opened a {
    text-decoration: none;
    color: inherit;
}

.menu {
    transition: left 0.2s;
    left: -18rem;
}

.menu-opened {
    transition: left 0.5s;
    left: 0rem;
    box-shadow: 5000px 0 0 5000px rgba(17, 17, 17, 0.5);
}

.surface {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.main-content {
    position: inherit;
    margin: 2rem;
    margin-top: 6rem;
}